<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px; background-color: rgb(0,104,139);">


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav" >
              <li><a href="/new_player" class="btn btn-danger">Start Over</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
      <% end %>
      <%= yield %>
  </div>
  </body>
</html>
